<form class="sign_in" hx-post="/account/sign_in" hx-swap="outerHTML">
    <p>Username:</p>
    <input type="text" name="username">
    <p>Password:</p>
    <input type="password" name="password">
    <button type="submit">Sign In</button>
</form>