<!DOCTYPE html>
<html>
    <head>
        <title>Feed Prototype</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    </head>
    <body>
        <div name="sign_on_status_checker"
            hx-get="/account/get_status" hx-swap="outerHTML" hx-trigger="load">
        </div>
        <form class="post" hx-post="/post/create/" hx-swap="afterbegin" hx-target="#feed">
            <div class="post_titlecard">
                <textarea class="text_box_title" name="title" placeholder="Descriptive title here..." rows="1"></textarea>
            </div>
            <div class="post_body">
                <textarea class="text_box_body" name="body" placeholder="Start typing..." rows="1"></textarea>
            </div>
            <script>
                const textareas = document.querySelectorAll('.text_box_title, .text_box_body');
                textareas.forEach(textarea => {
                    textarea.addEventListener('input', function () {
                        this.style.height = 'auto';
                        this.style.height = this.scrollHeight + 'px';
                    });
                });
            </script>
            <div class="post_interactions">
                <button type="submit">Submit Post</button>
            </div>
        </form>
        <div id="feed">
            <div id="feed_builder"
                hx-post="/feed/build/"
                hx-swap="outerhtml"
                hx-trigger="load">
                Building your feed...
            </div>
            <div id="posts"></div>
            <!-- Sentinel so that it automatically loads new posts at the end. Using this JS instead of pure HTMX -->
            <!-- 'revealed' trigger so that it can repeat infinitely -->
            <div id="sentinel">Loading posts...</div>

            <script>
                const sentinel = document.getElementById('sentinel');
                const posts = document.getElementById('posts');

                const observer = new IntersectionObserver((entries) => {
                    if (entries[0].isIntersecting) {
                        htmx.trigger('#feed_filler', 'load_more_posts');
                    }
                });

                observer.observe(sentinel);
            </script>
        </div>
    </body>
</html>