<!DOCTYPE html>
<html>
    <head>
        <title>Feed Prototype</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    </head>
    <body>
        <div name="sign_on_status_checker"
            hx-get="/account/get_status" hx-swap="outerHTML" hx-trigger="load">
        </div>
        <form class="post" hx-post="/post/create/" hx-swap="afterbegin" hx-target="#feed">
            <div class="post_titlecard">
                <textarea class="text_box_title" name="title" placeholder="Descriptive title here..." rows="1"></textarea>
            </div>
            <div class="post_body">
                <textarea class="text_box_body" name="body" placeholder="Start typing..." rows="1"></textarea>
            </div>
            <script>
                const textareas = document.querySelectorAll('.text_box_title, .text_box_body');
                textareas.forEach(textarea => {
                    textarea.addEventListener('input', function () {
                        this.style.height = 'auto';
                        this.style.height = this.scrollHeight + 'px';
                    });
                });
            </script>
            <div class="post_interactions">
                <button type="submit">Submit Post</button>
            </div>
        </form>
        <div id="feed">
            <div id="feed_builder"
                hx-post="/feed/build/10"
                hx-swap="outerhtml"
                hx-trigger="load">
                Building your feed...
            </div>
        </div>
    </body>
</html>