:root{
    --text-color: white;
    --text-alt-color: lightblue;
    --border-hl-color: rgb(41, 43, 46);
    --border-color-hl: rgb(46, 49, 54);
    --border-alt-color: rgb(46, 49, 54);
    --border-alt-color-hl: rgb(57, 63, 73);
    --text-bg-color: rgb(30, 31, 32);
    --page-bg-color: rgb(15, 15, 15);
    --big-corner-radius: 15px;
    --small-corner-radius: 10px;
    --button-color: rgb(41, 43, 46);
    --button-highlight-color: rgb(91, 100, 116);
    --default-font-family: Helvetica, Arial, Verdana, sans-serif;
    --pane-border-thickness: 2px;
}

body {
    background-color: var(--page-bg-color);
}

h1 {
    color:var(--text-color);
    font-family: var(--default-font-family);
    font-size: large;
}

p {
    color:var(--text-color);
    font-family: var(--default-font-family);
    font-size: small;
}

button {
    padding: 5px;
    color:var(--text-color);
    border: none;
    background-color: var(--button-color);
    border-radius: var(--small-corner-radius);
    font-family: var(--default-font-family);
}

button:hover,
button:focus {
    background-color: var(--button-highlight-color);
}

.post {
    width: 40%;
    border-radius: var(--big-corner-radius);
    border: var(--pane-border-thickness) solid var(--text-bg-color);
    background-color: var(--text-bg-color);
    margin-bottom: 20px;
}
.post:hover,
.post:focus {
    border: var(--pane-border-thickness) solid var(--border-hl-color);
}

.post_titlecard {
    border-top-left-radius: var(--big-corner-radius);
    border-top-right-radius: var(--big-corner-radius);
    border-bottom: 0;
    padding-bottom: 2%;
    padding-left: 2%;
    p {
        color: var(--text-alt-color);
        padding-left: 2%;
    }
}

.post_body {
    border-top: 0;
    padding: 2%;
}

.post_interactions {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    border-bottom-left-radius: var(--big-corner-radius);
    border-bottom-right-radius: var(--big-corner-radius);
    border-top: 0px;
}

.comment {
    margin-left: 5%;
}

.comment_body, .comment_input_body{
    background-color: var(--text-bg-color);
    border: 7px solid var(--border-alt-color);
    padding: 2%;
}

.comment_input_body {
    border-top-left-radius: var(--big-corner-radius);
    border-top-right-radius: var(--big-corner-radius);
}

.post_comments:empty {
    display: none;
}

.comment_nameplate {
    background-color: var(--text-bg-color);
    border-top-left-radius: var(--big-corner-radius);
    border-top-right-radius: var(--big-corner-radius);
    border: 7px solid var(--border-hl-color);
    p {
        color: var(--text-alt-color);
        padding-left: 2%;
    }
}

.comment_interactions {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--border-alt-color);
    border-bottom-left-radius: var(--big-corner-radius);
    border-bottom-right-radius: var(--big-corner-radius);
    border: 7px solid var(--border-alt-color);
    border-top: 0px;
}

.text_box_title, .text_box_body {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    border: none;
    background-color: var(--text-bg-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
}

.text_box_body {
    font-size: small;
}

.text_box_title {
    margin-top: 10px;
    font-size: medium;
    width: 98%;
}
