body {
    background-color: burlywood;
}

h1 {
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

p {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

button {
    background-color:blanchedalmond;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.post {
    width: 40%;
    border-radius:  25px;
    margin-bottom: 20px;
}

.post_titlecard {
    background-color: blanchedalmond;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 7px solid darkgoldenrod;
    padding-left: 3%;
    p {
        color: blue;
        padding-left: 2%;
    }
}

.post_body {
    background-color: blanchedalmond;
    border: 7px solid darkolivegreen;
    padding: 2%;
}

.post_interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 7px solid darkolivegreen;
    border-top: 0px;
}

.comment {
    margin-left: 5%;
}

.comment_body {
    background-color: blanchedalmond;
    border: 7px solid darkslategray;
    padding: 2%;
}

.post_comments:empty {
    display: none;
}

.comment_nameplate {
    background-color: blanchedalmond;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 7px solid rgb(33, 48, 48);
    p {
        color: blue;
        padding-left: 2%;
    }
}

.comment_interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 7px solid darkslategray;
    border-top: 0px;
}